<dui-table
  style="height: 100%"
  borderless="true"
  multiSelect
  [items]="items"
  [selectable]="true"
  [(selected)]="selectedItems"
  (dbclick)="itemClicked($event)"
>
  <dui-dropdown duiTableCustomRowContextMenu>
    <dui-dropdown-item (click)="playTrack()">Play</dui-dropdown-item>
    <dui-dropdown-splitter></dui-dropdown-splitter>
    <dui-dropdown-item (click)="actionTrigged('findTags')">Find Tags Online</dui-dropdown-item>
    <dui-dropdown-splitter></dui-dropdown-splitter>
    <dui-dropdown-item (click)="actionTrigged('removeFile')">Delete Track</dui-dropdown-item>
  </dui-dropdown>
  <dui-table-column header="Art" [width]="30">
    <ng-container *duiTableCell="let track">
        <dui-icon style="margin-bottom: 25px;" *ngIf="track.artwork" name="record"></dui-icon>
      </ng-container>
  </dui-table-column>
  <dui-table-column name="title" header="Title" [width]="400"></dui-table-column>
  <dui-table-column name="artist" header="Artist" [width]="300"></dui-table-column>
  <dui-table-column name="time" header="Time" [width]="50"></dui-table-column>
  <dui-table-column name="album" header="Album" [width]="250"></dui-table-column>
  <dui-table-column name="genre" header="Genre" [width]="80"></dui-table-column>
  <dui-table-column name="bpm" header="BPM" [width]="50"></dui-table-column>
  <dui-table-column name="year" header="Year" [width]="50"></dui-table-column>
  <dui-table-column name="key" header="Key" [width]="40"></dui-table-column>
  <dui-table-column name="filepath" header="Path" [width]="700" hidden></dui-table-column>
</dui-table>
